<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db2.elibrary.mapper.BorrowRecordMapper">
    <update id="vocationRenewal">
        update borrow_record set last_return_date=#{finish}, memo='假期自动续借'
        where last_return_date between #{start} and #{finish};
    </update>

    <select id="getAboutDueBorrowingList">
        select *
        from borrow_record A
        where datediff(A.last_return_date, current_date()) &lt; 3
        and A.return_time is null
        and A.last_return_date >= all (
        select B.last_return_date
        from borrow_record B
        where B.user_id = A.user_id
        and datediff(B.last_return_date, current_date()) &lt; 3
        and B.return_time is null);
    </select>
</mapper>
